<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Hannah-Lisa Whittle</h1>
 <p>I'm twenty years old and a Computer Science student at the University of the West Indies, Mona. Drawing and other forms of visual art come easily to me. 
My other interests include technology and music, particularly R&B. I was born and raised on the lovely Caribbean island of Jamaica. One of my favorite life quotes 
is 'Age Quod Agis,' the motto of my alma mater, which means 'Whatever you do, do it well'.</p>
</body>
</html>